/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.top {
    padding: 5px;
    background-color: #fff;
}

#progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: grey;
    
}

#progress, 
#progressbar {
    border-radius: 20px;
    height: 30px;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

#progressbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1%;
    background-color: #04aa3b;
    text-align: center;    
}

.top #info {
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    color: #f00;
} 

.product {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 30px 10px;
    flex-wrap: wrap;
}

.product-img {
    margin-bottom: 10px;
}

.cta {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    background: #fd1a1a;
    background-image: -webkit-linear-gradient(top, #fd1a1a, #ff0000);
    background-image: -moz-linear-gradient(top, #fd1a1a, #ff0000);
    background-image: -ms-linear-gradient(top, #fd1a1a, #ff0000);
    background-image: -o-linear-gradient(top, #fd1a1a, #ff0000);
    background-image: -webkit-gradient(to bottom, #fd1a1a, #ff0000);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 0;
    text-transform: uppercase;
 }
 
.button:hover {
    border: 0;
    background: #FF5959;
    background-image: -webkit-linear-gradient(top, #ff3232, #ff0d0d);
    background-image: -moz-linear-gradient(top, #ff3232, #ff0d0d);
    background-image: -ms-linear-gradient(top, #ff3232, #ff0d0d);
    background-image: -o-linear-gradient(top, #ff3232, #ff0d0d);
    background-image: -webkit-gradient(to bottom, #ff3232, #ff0d0d);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.stick {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

.alert {
    padding: 20px 10px;
    background-color: rgb(188, 235, 209);
    color:#123601;
    text-align: center;
}

.alert h2 {
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.alert p {
    padding: 5px;
    font-weight: 600;
}

main {
    background: #fff;
}

.content {
    text-align: center;
    line-height: 1.5;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-title {
    text-transform: uppercase;
    font-size: 40px;
    color: #fd1a1a;
    margin: 30px 5px 5px 5px;
    
}

.content-title span {
    font-weight: 600;
}

.content-text {
    margin: 5px 20px 0 5px;
    width: 400px;
}

.content-text p {
    font-weight: 600;
}

/* PRINCING */

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.pricing-title {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing-title span {
    font-weight: 600;
    color: #fd1a1a;
}

.pricing-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pricing-wrap .price {
    padding: 20px;
    margin-bottom: 20px;
}

/* INFO */

.credit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.credit-card p {
    margin-bottom: 10px;
}

.shipping,
.safe-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shipping {
    margin: 40px 0;
}

.shipping h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.safe-alert {
    padding: 20px;
}

.safe-alert h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.safe-alert span {
    color: #ff0000;
    font-weight: 600;
}

.safe-alert p {
   font-weight: 600;
   margin-bottom: 20px;
}

.safe-alerts p {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left !important;
}

.warranty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.warranty .badge {
    margin: 5px 30px 20px 5px;
}

.warranty-text h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.warranty-text p {
    margin-bottom: 20px;
}

.warranty-text a {
    text-decoration: none;
}

.warranty-text a:hover {
    text-decoration: underline;
}

.cta-bottom {
    padding: 100px;
    background-color: #4d4d4d;
    color: #fff;
}

.cta-bottom h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* FOOTER */

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(146, 146, 146);
    padding: 20px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;  
}

.links h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.links a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #f73f3f;
}

.links a:hover {
    text-decoration: underline;
    color: #ff0d0d;
}

.safe-badges {
    padding: 20px;
}

footer p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 14px;
}